body {
	text-align: center;
	background-color: white;
}

.left {
	position: fixed;
	left:0;
	text-align: left;
	margin-left: 20px;
	width: 30%;
}

.right {
	position: fixed;
	right:0;
	text-align: left;
	margin-right: 20px;
	width: 30%;
}

h1 {
	color: darkgray;
	font-size: 100px;
	font-family: garamond;
}

h2 {
	color: darkgray;
	font-size: 50px;
	font-family: garamond;
}

p {
	color: darkgray;
	font-size: 35px;
	font-family: garamond;
}

.content {
	text-align: center;
	height: 640px;
	width: 384px;
}

.phone {
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -416px;
	height: 855px;
	width: 855px;
}

.background {
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -182px;
	height: 640px;
	width: 384px;
	transition: all 1s ease;
}

.overlay {
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -182px;
	height: 640px;
	width: 384px;
	z-index: 1;
}

#invisible-shoe {
	position: fixed;
	top: 640px;
	left: 46%;
	right: 46%;
	height: 75px;
	z-index: 5;
}

#home {
	position: fixed;
	top: 740px;
	left: 46%;
	right: 46%;
	height: 75px;
	z-index: 5;
}

.yeezy {
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -182px;
	height: 640px;
	width: 384px;
	z-index: 2;
	-webkit-transition: visibility 1s;
	transition: all 0.5s ease;
}

.budget {
	position: fixed;
	top: 140px;
	left: 50%;
	margin-left: -150px;
	height: 352px;
	width: 352px;
	z-index: 2;
	-webkit-transition: visibility 1s;
	transition: all 0.5s ease;
}

.new-display {
	position: fixed;
	opacity: 0;
	top: 100px;
	left: 50%;
	margin-left: -182px;
	height: 640px;
	width: 384px;
	transition: all 1s ease;
}

#a:target + .new-display {
	opacity: 1;
}
#a:target {
	-webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
        filter: blur(5px);
}

.content-window {
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -182px;
	height: 640px;
	width: 384px;
}

.budget-window {
	position: relative;
	
}
